.container {
  position: relative;
  display: flex;
  flex-direction: column;

  .textWrapper {
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;

    .mainText {
      position: relative;
      margin: 0 0 0 140px;
      padding: 0;
      font-family: 'Red Hat Display', sans-serif;
      font-size: 140px;
      font-weight: 900;
      line-height: 138px;
      text-transform: uppercase;

      span {
        color: #fff;
        mix-blend-mode: overlay;
      }

      span.color {
        background: linear-gradient(90deg, rgba(32, 29, 41, 1) 0%, rgba(32, 56, 150, 1) 40%, rgba(104, 32, 150, 1) 70%, rgba(170, 71, 233, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0 0 100px #472f98);
        mix-blend-mode: normal;
      }

      .line {
        z-index: -1;
        position: absolute;
        width: 1013px;
        left: 10%;
        top: -200%;
      }
    }

    .subText {
      padding: 0;
      width: 100%;
    }

    .steps {
      margin: -2.5% auto 0 200px;
      padding: 0;
      list-style: none;

      li {
        margin: 10px 0;
        color: #fff;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 600;
        font-size: 30px;
        font-style: normal;
        text-transform: uppercase;
        text-align: left;

        &.gradient {
          font-weight: 700;
          background: linear-gradient(90deg, rgba(32, 29, 41, 1) 0%, rgba(32, 56, 150, 1) 40%, rgba(104, 32, 150, 1) 70%, rgba(170, 71, 233, 1) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          filter: drop-shadow(0 0 100px #472f98);
          mix-blend-mode: normal;
        }

        &:nth-child(2) {
          margin-left: 25px;
        }

        &:nth-child(3) {
          margin-left: 50px;
        }

        &:nth-child(4) {
          margin-left: 75px;
        }
      }
    }
  }

  .partner {
    margin-top: 10vh;
    margin-bottom: 0;

    .title {
      position: relative;
      width: 800px;
      max-width: 100%;
      margin: 0 auto;
      padding: 15px 0;
      color: #fff;
      font-family: 'Red Hat Display', sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      line-height: 20px;

      span {
        margin: 0 5px;
        font-weight: 900;
        font-size: 22px;
        line-height: 20px;
        background: rgb(98,112,255);
        background: -moz-linear-gradient(90deg, rgba(98,112,255,1) 0%, rgba(255,100,255,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(98,112,255,1) 0%, rgba(255,100,255,1) 100%);
        background: linear-gradient(90deg, rgba(98,112,255,1) 0%, rgba(255,100,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6270ff",endColorstr="#ff64ff",GradientType=1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0 0 40px #3c00ff);
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        height: 2px;
        background: linear-gradient(90deg, rgba(32, 29, 41, 0.2) 0%, rgba(32, 56, 150, 0.2) 40%, rgba(104, 32, 150, 0.2) 70%, rgba(170, 71, 233, 0.2) 100%);
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 40%;
        height: 2px;
        background: linear-gradient(-90deg, rgba(32, 29, 41, 0.2) 0%, rgba(32, 56, 150, 0.2) 40%, rgba(104, 32, 150, 0.2) 70%, rgba(170, 71, 233, 0.2) 100%);
      }
    }

    .list {
      position: relative;
      width: 100%;
      padding: 0;
      list-style: none;
      justify-content: center;
      align-items: center;
      
      @media only screen and (min-width: 1921px) {
        display: flex;
      }


      li {
        margin: auto 5%;
        display: flex;
        justify-content: center;
        align-items: center;


        svg {
          margin: auto;
          fill: #626fff;
          opacity: 35%;
          transition: opacity 0.4s cubic-bezier(0,0.4,0,0.5);

          &:hover {
            transition: all 0.3s ease-in;
            opacity: 100%;
            fill: url(#partners-gradient) #fff;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6270ff",endColorstr="#ff64ff",GradientType=1);
          }

        }
      }
    }

    .partnersSlider {
      width: 100%;
      max-width: 760px;
      margin: auto;
      height: 100px;
      margin-top: 15px;

      div > div > div > div > div {
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 60px;
      }
    
      svg {
        opacity: 100%;
      }
    }

    .partnersSliderItem {
      margin: auto 10px;
      pointer-events: none;
      display: block;
      width: 200px !important;
      height: 100px !important;
    }


  }

  footer {
    margin: 0;
  }
}

@media only screen and (max-width: 1920px) {
  .partner .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    li {
      margin: 5% 5% !important;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .textWrapper .steps {
    li {
      font-size: 24px !important;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .mainText {
    margin-left: 20px !important;
  }
}

@media only screen and (max-width: 980px) {
  .mainText {
    margin-left: 10% !important;
    font-size: 100px !important;
    line-height: 100px !important;
  }

  .textWrapper .steps {
    margin-left: 10% !important;

    li {
      font-size: 18px !important;
    }
  }
}

@media only screen and (min-width: 760px) {
  .partner .list {
    display: grid;
  }

  .partnersSlider {
    display: none;
  }
}

@media only screen and (max-width: 759px) {
  .partner .list {
      display: none;
    }

    .partnersSlider {
      display: block;
    }
}


@media only screen and (max-width: 691px) {
  .textWrapper .steps {
    margin: -1% auto 0 !important;

    li {
      font-size: 16px !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .textWrapper .steps {
    margin: -1% 10px 0 !important;
    li {
      font-size: 14px !important;
    }
  }
}

@media only screen and (max-width: 425px) {
  .mainText {
    font-size: 80px !important;
    line-height: 80px !important;
  }

  .textWrapper .steps {
    margin: -1% 10px 0 !important;
    li {
      font-size: 14px !important;
    }
  }
}